---
import Layout from '../layouts/Layout.astro';

import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro"

import Hero from "../components/Heroimggiardino.astro"
import { Image } from "astro:assets";


import Image1 from "../assets/giardino/DSC_4235.jpg"
import Image2 from "../assets/giardino/DSC_4247.jpg"
import Image3 from "../assets/giardino/DSC_4239.jpg"
import Image4 from "../assets/giardino/DSC_4245.jpg"
import Image5 from "../assets/giardino/DSC_4254.jpg"
import Image6 from "../assets/giardino/DSC_4258.jpg"

import { getImage } from "astro:assets";
import Image1light from "../assets/giardino/DSC_4234.jpg"
const Light1 = await getImage({src: Image1light, format: 'webp'});
---

<Layout title="Il Giardino - Il Giardino dei Limoni B&B.">
	<Header/>
	<Hero/>
	<section class="relative z-[1] my-28">
		<div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg lg:max-w-5xl xl:max-w-7xl">
		  <p class="text-sm text-accent-700 capitalize mb-6 lg:mb-8 flex gap-4 items-center after:content-[''] after:h-px after:grow after:bg-sec-green-500/20">Il Giardino dei Limoni</p>
	  
		  <div class="grid grid-cols-12 gap-y-6 lg:gap-0">
			<div class="col-span-12 lg:col-span-4">
			  <h1 class="font-bold text-primary-brown text-5xl leading-tight">Godi il fresco, la pace e il silenzio</h1>
			</div>
		  
			<div class="col-span-12 lg:col-span-7 lg:col-start-6">
			  <div class="leading-relaxed">
				<p class="mb-6 font-body">Un piccolo angolo di paradiso, nascosto tra le mure centenarie del bellissimo borgo che ci ospita, per leggere un buon libro o un bagno nell'idromassaggio, per gustare uno dei vini "famosi" del territorio, momenti felici da trascorrere con chi ami di più, la sala invece è il luogo della convivialità per una gustosa colazione o per uno sfizioso aperitivo.</p>
	  
	  
			  </div>
			</div>
		  </div>
		</div>
	  </section>


	  
	  <section class="relative z-[1] my-32">
		<div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg lg:max-w-5xl xl:max-w-7xl">
		  <div class="grid grid-cols-12 gap-y-8 lg:gap-8 items-center">
			<div class="col-span-12 lg:col-span-6 lg:order-2">
			  <div class="flex flex-col gap-4">
				<p class="text-sm text-gray-400 capitalize">Pills &amp; potions</p>
				<h1 class="font-bold text-gray-900 text-4xl">I have a dream</h1>
				<p class="leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.</p>
			
				<div class="flex flex-wrap gap-4 items-center">
				  <a href="#0" class="bg-indigo-700 text-white shadow-md text-[1em] px-4 py-2 rounded-md relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700">Download</a>
				  <a href="#0" class="no-underline text-indigo-700 bg-[linear-gradient(to_right,_hsl(250,84%,54%)_50%,_hsla(250,84%,54%,0.2)_50%)] bg-[length:200%_1px] bg-no-repeat bg-[100%_100%] transition-all duration-200 hover:bg-[0%_100%]">Learn more</a>
				</div>
			  </div>
			</div>
		  
			<div class="col-span-12 lg:col-span-6 lg:order-1">
			  <figure>
				<img class="w-full rounded-xl" data-img-light src="https://d3ae4wrz2ljkbq.cloudfront.net/components/img-3-2-light-1.svg" alt="Image description">
			  </figure>
			</div>
		  </div>
		</div>
	  </section>

	  <ul class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(15rem,1fr))]">
		<a data-fslightbox href={Image1.src}>
			<Image src={Image1} alt="Camillo Bianchi" class="block w-full rounded-lg" />
		</a>
		<a data-fslightbox href={Image2.src}>
			<Image src={Image2} alt="Camillo Bianchi" class="block w-full rounded-lg" />
		</a>
		<a data-fslightbox href={Image3.src}>
			<Image src={Image3} alt="Camillo Bianchi" class="block w-full rounded-lg" />
		</a>
		<a data-fslightbox href={Image4.src}>
			<Image src={Image4} alt="Camillo Bianchi" class="block w-full rounded-lg" />
		</a>
		<a data-fslightbox href={Image5.src}>
			<Image src={Image5} alt="Camillo Bianchi" class="block w-full rounded-lg" />
		</a>
		<a data-fslightbox href={Image6.src}>
			<Image src={Image6} alt="Camillo Bianchi" class="block w-full rounded-lg" />
		</a>
							 </ul>
	  <section class="relative z-[1] my-32">
		<div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg lg:max-w-5xl xl:max-w-7xl">
		  <div class="grid grid-cols-12 gap-y-8 lg:gap-8 items-center">
			<div class="col-span-12 lg:col-span-6">
			  <div class="flex flex-col gap-4">
				<p class="text-sm text-gray-400 capitalize">Pills &amp; potions</p>
				<h1 class="font-bold text-gray-900 text-4xl">I have a dream</h1>
				<p class="leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.</p>
			
				<div class="flex flex-wrap gap-4 items-center">
				  <a href="#0" class="bg-indigo-700 text-white shadow-md text-[1em] px-4 py-2 rounded-md relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700">Download</a>
				  <a href="#0" class="no-underline text-indigo-700 bg-[linear-gradient(to_right,_hsl(250,84%,54%)_50%,_hsla(250,84%,54%,0.2)_50%)] bg-[length:200%_1px] bg-no-repeat bg-[100%_100%] transition-all duration-200 hover:bg-[0%_100%]">Learn more</a>
				</div>
			  </div>
			</div>
		  
			<div class="col-span-12 lg:col-span-6">
			  <figure>
				<img class="w-full rounded-xl" data-img-light src="https://d3ae4wrz2ljkbq.cloudfront.net/components/img-3-2-light-1.svg" alt="Image description">
			  </figure>
			</div>
		  </div>
		</div>
	  </section>
	<Footer />