---
import Layout from '../layouts/Layout.astro';

import Header from "../components/Header.astro";

import Footer from "../components/Footer.astro"

import Hero from "../components/Heroimggiardino.astro"
import { Image } from "astro:assets";


import Image1 from "../assets/giardino/DSC_4251.jpg"
import Image2 from "../assets/giardino/DSC_4247.jpg"
import Image3 from "../assets/giardino/DSC_4239.jpg"
import Image4 from "../assets/giardino/DSC_4245.jpg"
import Image5 from "../assets/giardino/DSC_4254.jpg"
import Image6 from "../assets/giardino/DSC_4258.jpg"

import Image7 from "../assets/Sala/DSC_4225.jpg"
import Image8 from "../assets/Sala/DSC_4226.jpg"
import Image9 from "../assets/Sala/DSC_4265.jpg"
import Image10 from "../assets/Sala/DSC_4272.jpg"
import Image11 from "../assets/Sala/DSC_4276.jpg"
import Image12 from "../assets/Sala/DSC_4261.jpg"


import ImageGia from "../assets/giardino/DSC_4235.jpg"
import ImageSala from "../assets/Sala/DSC_4222.jpg"


import { getImage } from "astro:assets";
import Image1light from "../assets/giardino/DSC_4234.jpg"
const Light1 = await getImage({src: Image1light, format: 'webp'});
---

<Layout title="Il Giardino - Il Giardino dei Limoni B&B.">
	<Header/>
	<Hero/>
	<section class="relative z-[1] my-28">
		<div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg lg:max-w-5xl xl:max-w-7xl">
		  <p class="text-sm text-accent-700 capitalize mb-6 lg:mb-8 flex gap-4 items-center after:content-[''] after:h-px after:grow after:bg-sec-green-500/20">Il Giardino dei Limoni</p>
	  
		  <div class="grid grid-cols-12 gap-y-6 lg:gap-0">
			<div class="col-span-12 lg:col-span-4">
			  <h1 class="font-bold text-primary-brown text-5xl leading-tight">Godi il fresco, la pace e il silenzio</h1>
			</div>
		  
			<div class="col-span-12 lg:col-span-7 lg:col-start-6">
			  <div class="leading-relaxed">
				<p class="mb-6 font-body">Un piccolo angolo di paradiso, nascosto tra le mure centenarie del bellissimo borgo che ci ospita, per leggere un buon libro o un bagno nell'idromassaggio, per gustare uno dei vini "famosi" del territorio, momenti felici da trascorrere con chi ami di più, la sala invece è il luogo della convivialità per una gustosa colazione o per uno sfizioso aperitivo.</p>
	  
	  
			  </div>
			</div>
		  </div>
		</div>
	  </section>


	  
	  <section class="relative z-[1] my-32">
		<div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg lg:max-w-5xl xl:max-w-7xl">
		  <div class="grid grid-cols-12 gap-y-8 lg:gap-8 items-center">
			<div class="col-span-12 lg:col-span-6 lg:order-2">
			  <div class="flex flex-col gap-4">
				<p class="text-sm text-accent-700">Un oasi di pace nel centro storico</p>
				<h1 class="font-bold text-sec-green text-4xl">Il Giardino</h1>
				<p class="leading-normal font-body">Il nostro giardino ti accoglie per completare le tue giornate o per una gustosa colazione che da lo sprint giusto per una giornata di vacanza.
					E' a disposizione di tutti gli ospiti ed è il luogo ideale anche per nuove amicizie, per scambiarsi due chiacchiere o consigli sui luoghi da visitare.</p>
			
			  </div>
			</div>
		  
			<div class="col-span-12 lg:col-span-6 lg:order-1">
			  <figure>
				<Image class="w-full rounded-xl" data-img-light src={ImageGia}alt="Image description">
			  </figure>
			</div>
		  </div>
		</div>
	  </section>

	  <section class="relative z-[1] my-28 container">
		<ul class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(15rem,1fr))]">
			<a data-fslightbox href={Image1.src}>
				<Image src={Image1} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
			<a data-fslightbox href={Image2.src}>
				<Image src={Image2} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
			<a data-fslightbox href={Image3.src}>
				<Image src={Image3} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
			<a data-fslightbox href={Image4.src}>
				<Image src={Image4} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
			<a data-fslightbox href={Image5.src}>
				<Image src={Image5} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
			<a data-fslightbox href={Image6.src}>
				<Image src={Image6} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
								 </ul>

	  </section>

	 
	  <section class="relative z-[1] my-32">
		<div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg lg:max-w-5xl xl:max-w-7xl">
		  <div class="grid grid-cols-12 gap-y-8 lg:gap-8 items-center">
			<div class="col-span-12 lg:col-span-6">
			  <div class="flex flex-col gap-4">
				<p class="text-sm text-accent-700">Dove si incontrano piaceri e sapori</p>
				<h1 class="font-bold text-sec-green text-4xl">La Sala</h1>
				<p class="leading-normal font-body">Nella nostra sala ti aspetta al mattino la colazione, servita in sicurezza e offrendoti sempre prodotti freschi e particolarità del nostro territorio. Se hai bisogno di un menù particolare, comunicacelo e sicuramente troveremo come soddisfare le tue esigenze.</p>
			
			  </div>
			</div>
		  
			<div class="col-span-12 lg:col-span-6">
			  <figure>
				<Image class="w-full rounded-xl" data-img-light src={ImageSala} alt="Image description">
			  </figure>
			</div>
		  </div>
		</div>
	  </section>
	  <section class="relative z-[1] my-28 container">
		<ul class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(15rem,1fr))]">
			<a data-fslightbox href={Image7.src}>
				<Image src={Image7} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
			<a data-fslightbox href={Image8.src}>
				<Image src={Image8} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
			<a data-fslightbox href={Image9.src}>
				<Image src={Image9} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
			<a data-fslightbox href={Image10.src}>
				<Image src={Image10} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
			<a data-fslightbox href={Image11.src}>
				<Image src={Image11} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
			<a data-fslightbox href={Image12.src}>
				<Image src={Image12} alt="Camillo Bianchi" class="block w-full rounded-lg" />
			</a>
								 </ul>

	  </section>
	<Footer />