---
import { Image } from "astro:assets";
import Suvereto from "../assets/suvereto.jpg"
import BandieraA from "../assets/bandiera-arancione-seeklogo.svg"
import Vino from "../assets/cittàdelvino1.png"
import Olio from "../assets/TRASPARENZA_Logo_colori_ANCO30.png"
import Slow from "../assets/Cittaslow_logo.png"
import Borgo from "../assets/Logo-Borghi-per-sito.png"
import Cde from "../assets/strada_v_o.jpg"
import Ambito from "../assets/400x200.png"
---

<section class="bg-white dark:bg-gray-900">
    
    <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
        <section class="bg-white dark:bg-gray-900">
            <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
                <div class="mr-auto place-self-center lg:col-span-7">
                    <h1 class="font-serif max-w-2xl mb-4 text-4xl text-primary-700 font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Suvereto, la perla dell'Alta Maremma</h1>
                    <p class="max-w-2xl mb-6 font-light font-body text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Siamo in uno dei borghi medioevali più belli d'Italia, <span class="font-bold">Suvereto nel cuore della Costa degli Etruschi</span>, con l'arcipelago delle Isole Toscane che lo sorvegliano dal mare.
                        Ti accogliamo nelle nostre camere o nell'appartamento, arredati in stile shabby chic per trascorrere le tue  vacanze in un oasi di pace e serenità</p>
                    
                </div>
                <div class=" lg:mt-0 lg:col-span-5 lg:flex">
                    <Image src={Suvereto} alt="Il giardino dei limoni Suvereto"  class="lg:rounded-xl rounded-xl" />    
                </div>                
            </div>
        </section>
        <div class="grid grid-cols-3 gap-6 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-7 dark:text-gray-400">
            
            <a href="/" class="flex justify-center items-center">
                    <Image src={BandieraA} alt="Il giardino dei limoni logo bandiera arancione"  />                                
            </a>
            <a href="/" class="flex justify-center items-center">
                <Image src={Vino} alt="Il giardino dei limoni logo città del vino"  />                                                    
            </a>

            <a href="/" class="flex justify-center items-center">
                <Image src={Olio} alt="Il giardino dei limoni logo città dell'olio'"  />   
            </a>
            <a href="/" class="flex justify-center items-center">
                <Image src={Slow} alt="Il giardino dei limoni logo città slow"  />                                                                          
            </a>
           
        <a href="https://borghipiubelliditalia.it/borgo/suvereto/" class="flex justify-center items-center">
            <Image src={Borgo} alt="Il giardino dei limoni logo città dell'olio'"  />   

        </a>
    <a href="/" class="flex justify-center items-center">
        <Image src={Cde} alt="Il giardino dei limoni logo città dell'olio'"  />   

    </a>
<a href="#" class="flex justify-center items-center">
    <Image src={Ambito} alt="Il giardino dei limoni logo città dell'olio'"  />   
</a>
        </div>
    </div>
</section>


<style>
    .font-pd {
        font-family: 'Playfair Display Variable', serif;
      }
    
    </style>
    