---
import Layout from "./Layout.astro";
const {frontmatter} = Astro.props;
import { getImage } from "astro:assets";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title={frontmatter.title}>

<Header/>
<!-- Background image -->
<div

  class=" h-screen bg-cover bg-no-repeat content-center"
  style={`background-image: url(${frontmatter.background.src});`}>
  <div class=" max-w-screen-xl md:px-5 py-8 m-4 lg:mx-auto  lg:py-12 bg-white/60  rounded-xl sm:px-5">
   
    <div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg sm:max-w-3xl">
        <div class="text-m text-sec-green/80 mb-3">{frontmatter.tipologia}</div>
    
        <h1 class="lg:text-8xl text-4xl font-bold mb-2 font-serif text-primary-brown-500">{frontmatter.title}</h1>
    
        <p class="leading-normal mb-6 mt-6 font-body">{frontmatter.description}</p>
    
        
      </div>
    </div>
</div>
<!-- Background image -->

<section class="hero relative z-[1] py-16 lg:py-28 px-0 bg-accent-400 bg-cover bg-no-repeat bg-center text-center">
    <div class="w-[calc(100%_-_3rem)] mx-auto max-w-lg sm:max-w-3xl">    
      <p class="leading-normal mb-6">{frontmatter.description}</p>
  
    </div>
  </section>

  <section class="adv-gallery relative z-[1] py-16">
    <div class="grid gap-8 w-[calc(100%_-_3rem)] max-w-7xl mx-auto lg:grid-cols-12 xl:gap-6 xl:grid-rows-[repeat(12,_50px)]">
      <div class="lg:col-span-5 xl:col-[1/4] xl:row-[1/7]">
        <img class="adv-gallery__img w-full block object-cover xl:h-full" src={frontmatter.image.src} alt={frontmatter.image.alt}/>
      </div>
  
      <div class="lg:col-span-7 xl:col-[1/4] xl:row-[7/-1]">
        <img class="adv-gallery__img w-full block object-cover xl:h-full" src={frontmatter.image1.src} alt={frontmatter.image1.alt}/>
      </div>
  
      <div class="lg:col-span-9 xl:col-[4/11] xl:row-[1/-1]">
        <img class="adv-gallery__img w-full block object-cover xl:h-full" src={frontmatter.image2.src} alt={frontmatter.image2.alt}/>
      </div>
  
      <div class="bg-accent p-8 lg:col-span-3 xl:col-[11/13] xl:row-[1/-1] xl:flex">
        <div class="xl:mt-auto">
          <div class="hidden xl:block xl:h-24 xl:mb-6 xl:border-l xl:border-sec-green" aria-hidden="true"></div>
          <p class="text-[1.375rem] text-primary-brown-500">{frontmatter.commento}</p>
        </div>
      </div>
    </div>
  </section>



<Footer/>

</Layout>